mat-toolbar {
    
    height: 10vh;
    padding: 0;
    min-height: 45px;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373d20;
    color: #f4f1de;
    padding: 0.5em;
}

.header .title {
    margin: 0;
    font-size: 2em;
    font-weight: 400;
    display: flex;
    align-items: center;
}

