<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image Ye-image"></div>
        <mat-card-title>Casey Bronson</mat-card-title>
        <mat-card-subtitle>Rue de Rivoli</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><b>Expertise:</b></p>
        <ul>
            <li>Designer Fashion (Clothing, Handbags, Accessories): Specializing in high-end brands (e.g., Chanel, Louis
                Vuitton, Gucci) with a keen eye for spotting counterfeits.</li>
            <li>Vintage Musical Instruments (Guitars, Violins, Saxophones): Deep knowledge of instrument construction,
                materials, and historical details to ensure authenticity.</li>
        </ul>
        <p><b>How I Can Help You:</b></p>
        <ul>
            <li>Provide detailed authentication reports with clear pictures and explanations for peace of mind before you buy.
            </li>
            <li>Help you identify the specific model, year, and any unique features of the item.</li>
            <li>Spot potential red flags and advise on fair market value.</li>
            <li>Offer guidance on reputable sellers in the secondhand market.</li>
        </ul>
        <div class="table_component" role="region" tabindex="0">
            <table>
                <thead>
                    <tr>
                        <th>Expertise</th>
                        <th>Fee</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span style="background-color: #D9EDBF; padding: 0.4rem; border-radius: 20px;">Designer</span></td>
                        <td>5 EUR</td>
                        <td class="stars">★★★</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #FFB996; padding: 0.4rem; border-radius: 20px;">Instruments</span></td>
                        <td>10 EUR</td>
                        <td class="stars">★★★★</td>
                    </tr>
                </tbody>
            </table>
            </div>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['/',  'profile']" class="profile-button">See Profile</a>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image Chanel-image"></div>
        <mat-card-title>Coco Chanel</mat-card-title>
        <mat-card-subtitle>Chmps Élysées</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <p>From Chanel handbags to Rolex watches, I can meticulously examine your pre-loved treasures and deliver a reliable
                verdict on their authenticity.</p>
            <b>What you can expect when you hire me:</b>
            <ul>
                <li><b>Expert Authentication:</b> I will analyze your item's materials, stitching, markings, and overall craftsmanship
                    to ensure it meets the brand's rigorous standards.</li>
                <li><b>Detailed Reports:</b> You'll receive a comprehensive report outlining my findings, including high-resolution
                    photos highlighting key details.</li>
                <li><b>Brand Specific Knowledge:</b> Whether it's the subtle stitch variations on a Louis Vuitton Neverfull or the
                    intricate date wheel markings on a Cartier Santos, I possess a deep understanding of individual designer
                    hallmarks.</li>
                <li><b>Fast and Efficient:</b> I understand the importance of timely decisions. You can expect a **quick turnaround**
                    on your authentication request.</li>
            </ul>
        </div>
        <div class="table_component" role="region" tabindex="0">
            <table>
                <caption>
                    <p><br></p>
                </caption>
                <thead>
                    <tr>
                        <th>Expertise</th>
                        <th>Fee</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span style="background-color: #D9EDBF; padding: 0.4rem; border-radius: 20px;">Designer</span></td>
                        <td>15 EUR</td>
                        <td class="stars">★★★</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="profile-button">See Profile</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image Harold-image"></div>
        <mat-card-title>Harold Haroldson</mat-card-title>
        <mat-card-subtitle>Père Lachaise</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            [Profile Description] The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
        <div class="table_component" role="region" tabindex="0">
            <table>
                <caption>
                    <p><br></p>
                </caption>
                <thead>
                    <tr>
                        <th>Expertise</th>
                        <th>Fee</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span style="background-color: #D9EDBF; padding: 0.4rem; border-radius: 20px;">Cars</span></td>
                        <td>5 EUR</td>
                        <td class="stars">★★★</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #FFB996; padding: 0.4rem; border-radius: 20px;">WW2 Memorabilia</span>
                        </td>
                        <td>10 EUR</td>
                        <td class="stars">★★★★</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="profile-button">See Profile</button>
    </mat-card-actions>
</mat-card>