mat-card{
    background-color: transparent;
    font-family: 'Montserrat';
    margin-left: 0.8rem;
    border-left: 0;
}
mat-card-header {
    display: flex;
    align-items: center;
}
mat-card-title{
    font-size: 1.8rem;
    font-weight: 600;
}
.header-image {
    width: 72px;
    height: 72px;
}
.Ye-image{
    background-image: url('../../../assets/Boyfriend.png');
    background-size: cover;
}
.Chanel-image{
    background-image: url('https://3.bp.blogspot.com/-JPI0jfH0XNs/UhDqhEaxrvI/AAAAAAAAORo/dB1YgM0FJyc/s1600/coco-chanel.jpg');
    background-size: cover;
}
.Harold-image {
    background-image: url('https://ih1.redbubble.net/image.744570416.3388/flat,750x,075,f-pad,750x1000,f8f8f8.u6.jpg');
    background-size: cover;
}
.profile-button{
    background-color: #373d20;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #f4f1de;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

table thead th {
    border-bottom: 2px solid #000;
    text-align: left;
}

table tbody td {
    text-align: left;
}
.table_component {
    overflow: auto;
    width: 100%;
    margin-top: 1vw;
    margin-left: 1vw;
}
.table_component table {
    border: 1px none #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px none #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
}

.table_component td {
    border: 1px none #dededf;
    background-color: #ffffff;
    color: #2b2b2b;
    padding-top: 15px;
    padding-bottom: 15px;
}
.stars{
    color: #373d20 !important;
}