<mat-tab-group style="font-family: 'Montserrat';">
    <mat-tab label="Profile" style="font-family: 'Montserrat';"> 
        <div style="margin: 1em; font-family: 'Montserrat';">
        <div class="profile-section">
            <img src="https://imageio.forbes.com/specials-images/imageserve/5ed00f17d4a99d0006d2e738/0x0.jpg" style="width: 10em;"/>
            <div class="profile-info">
                <h1>Kanye West</h1>
                <p>[Profile Description] The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.</p>
            </div>
        </div>
        <div class="table_component" role="region" tabindex="0">
            <table>
                <thead>
                    <tr>
                        <th>Expertise</th>
                        <th>Fee</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span style="background-color: #D9EDBF; padding: 0.4rem; border-radius: 20px;">Designer</span></td>
                        <td>5 EUR</td>
                        <td class="stars">★★★</td>
                    </tr>
                    <tr>
                        <td><span style="background-color: #FFB996; padding: 0.4rem; border-radius: 20px;">Instruments</span>
                        </td>
                        <td>10 EUR</td>
                        <td class="stars">★★★★</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="reviews">
            <h1>Reviews</h1>
            <hr/>
            <mat-card>
                <mat-card-header style="margin-bottom: 1em;">
                    <b>Customer 1</b>
                    
                </mat-card-header>
                <mat-card-content>
                    What you doin' in the club on a Thursday?
                    She say she only here for her girl birthday
                    They ordered champagne but still look thirsty
                    Rock Forever 21, but just turned thirty
                    I know I got a bad reputation
                    Walk-around-always-mad reputation
                    <br>
                    <br>
                    ★★★
                    <br>
                    <br>
                    <span style="background-color: #FFB996; padding: 0.4rem; border-radius: 20px;">Instruments</span>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header style="margin-bottom: 1em;">
                    <b>Customer 1</b>
            
                </mat-card-header>
                <mat-card-content>
                    What you doin' in the club on a Thursday?
                    She say she only here for her girl birthday
                    They ordered champagne but still look thirsty
                    Rock Forever 21, but just turned thirty
                    I know I got a bad reputation
                    Walk-around-always-mad reputation
                    <br>
                    <br>
                    ★★★
                    <br>
                    <br>
                    <span style="background-color: #FFB996; padding: 0.4rem; border-radius: 20px;">Instruments</span>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header style="margin-bottom: 1em;">
                    <b>Customer 1</b>
            
                </mat-card-header>
                <mat-card-content>
                    What you doin' in the club on a Thursday?
                    She say she only here for her girl birthday
                    They ordered champagne but still look thirsty
                    Rock Forever 21, but just turned thirty
                    I know I got a bad reputation
                    Walk-around-always-mad reputation
                    <br>
                    <br>
                    ★★★
                    <br>
                    <br>
                    <span style="background-color: #FFB996; padding: 0.4rem; border-radius: 20px;">Instruments</span>
                </mat-card-content>
            </mat-card>
        </div>
        </div>
    </mat-tab>
    <mat-tab label="Chat"> here, you have a chat</mat-tab>
    <mat-tab label="Schedule"> here, you have the dates & times they would be available</mat-tab>
</mat-tab-group>